<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="stylesheets/login-css/login.css">
    <title>Modern Login Page | AsmrProg</title>
</head>

<body>
	
    <div class="container" id="container">
		<% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
			<p style="color: brown;"><%= errorMessage %></p>
		  
			<% } %>
        <div class="form-container sign-up">
            <form>
                <h1>Create Account</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email for registeration</span>
                <form  action="/sign-up" method="post">
					
					<input type="text" name="user" id="name" class="form-control" placeholder="Enter Your Name" required>
					<input type="text" name="email" id="email" class="form-control" placeholder="Enter Your Email" required>
					<input type="password" name="password1" id="password1" class="form-control" placeholder="Enter Password" required>
					<input type="password" name="password2" id="password2" class="form-control" placeholder="Confirm Password" required>

				 <!-- <input type="file" name="image" id="password1" class="form-control" placeholder="Enter Password" required> -->
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form>
                <h1>login</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>
                </div>
                <span>or use your email password</span>
				<form method="POST" action="/login">
                    <input type="text" name="user" placeholder="username or email">
				    <input type="password" name="password" placeholder="password">
					
				
                <a href="#">Forget Your Password?</a>
                <button>submit</button>
            </form>
        </div>
        <div class="toggle-container">
			<% if (typeof errorMessage !== 'undefined' && errorMessage) { %>
				<p style="color: brown;"><%= errorMessage %></p>
			  
				<% } %>
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script src="javascripts/login.js"></script>
</body>

</html>
